*.class

# Package Files #
*.jar
*.war
*.ear

libs
.idea/workspace.xml

gauge-java
tags
src/src
*.exe
target
out
.idea/

#go deps
src/github.com
tmp
deploy
artifacts
*.iml
build/

.DS_Store
.classpath
.project
.settings/