name: tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  test:
    name: UT ${{ matrix.java_version }} + ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        java_version: ['11', '17', '21']
      fail-fast: false

    steps:
      - uses: actions/checkout@v4

      - name: Setup java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java_version }}

      - name: Set up Maven
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: 3.9.9

      - name: Run test
        run: mvn -q clean test

  functional_tests:
    name: FTs - java 17 ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    needs: test
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
      fail-fast: false

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          check-latest: true
          go-version-file: 'go.mod'

      - name: Setup java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set up Maven
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: 3.9.9

      - uses: getgauge/setup-gauge@master
        with:
          gauge-version: master

      - name: Install Gauge Java plugin from source
        run: |
          go run build/make.go
          go run build/make.go --install

      - name: Install Gauge Java maven package locally
        run: |
          mvn -q install -DskipTests -"Dgpg.skip" -D"maven.javadoc.skip=true"

      - name: Clone gauge-tests
        run: |
          git clone --depth=1 https://github.com/getgauge/gauge-tests

      - name: Run FTs
        run: |
          cd gauge-tests
          ./gradlew clean javaFT
        shell: bash

      - name: Log
        if: failure()
        run: |
          cat logs/gauge.log

      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: ft-logs-${{ matrix.os }}-${{ matrix.java_version }}
          path: gauge-tests/testLogs

  lsp-tests:
    name: LSP tests - java 17 ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    needs: test
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
      fail-fast: false

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          check-latest: true
          go-version-file: 'go.mod'

      - name: Setup java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set up Maven
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: 3.9.9

      - uses: getgauge/setup-gauge@master
        with:
          gauge-version: master

      - name: Install Gauge Java plugin from source
        run: |
          go run build/make.go
          go run build/make.go --install

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Prep LSP tests
        run: |
          git clone https://github.com/getgauge/gauge-lsp-tests
          cd gauge-lsp-tests
          npm install
          gauge install
          gauge -v

      - name: Run LSP tests
        shell: bash
        run: |
          cd gauge-lsp-tests
          gauge run --tags="!knownIssue & (actions_on_project_load | actions_on_file_edit)" --env=java-wd
      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: lsp-logs-${{ matrix.os }}-${{ matrix.java_version }}
          path: gauge-lsp-tests/logs

  build:
    name: Build artifacts
    runs-on: ubuntu-latest
    needs: [functional_tests, lsp-tests]
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          check-latest: true
          go-version-file: 'go.mod'

      - name: Build distro for ${{ matrix.os }}
        run: go run build/make.go --all-platforms && go run build/make.go --all-platforms --distro
        shell: bash

      - name: Upload artifacts for ${{ matrix.os }}
        uses: actions/upload-artifact@v4
        with:
          name: gauge-java-artifacts
          path: deploy/*
